.input-fields-glow {
    box-shadow: 3px 3px 15px red;
    outline: none;
}

.slide-up {
    animation: slideUp 0.5s ease;
}

@keyframes slideUp {
    0%,
    50% {
        transform: translateY(100%);
        opacity: 0;
    }

    60%,
    100% {
        transform: translateY(0);
        opacity: 1;

    }
}

.alert-overlay {
    position:fixed;
    bottom:0;
    z-index: 999;
    width: 100%;
}
