<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>CinciAlert Home</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
    <div layout:fragment="content">
        <div class="home-container">
            <div class="home-title">Welcome to CinciAlert</div>
            <div class="home-description">
                <p>Introducing "CinciAlert" – your essential app for staying informed about traffic incidents and disruptions in the Cincinnati area. With CinciTraffic Alert, you can:</p>
                <ul>
                    <li>Stay updated with real-time traffic incidents.</li>
                    <li>Create an account to save frequently used routes.</li>
                    <li>Receive notifications of recent traffic incidents in your area.</li>
                    <li>Plan your routes and see active incident reports.</li>
                    <li>And much more...</li>
                </ul>
            </div>
            <a th:href="@{/login}" class="button">Login</a>
            <a th:href="@{/signup}" class="button">Sign Up</a>
        </div>
    </div>
    </body>
</html>
