<html lang="en">
<head>
    <title>A Simple Google Map</title>
</head>

<body>
<h1>A Simple Google Map</h1>

<div id="map" style="width:600px; height: 400px;"></div>

<script src="https://maps.googleapis.com/maps/api/js"></script>

<script>
    var map_parameters = { center: {lat: 47.490, lng: -117.585}, zoom: 8 };
    var map = new google.maps.Map(document.getElementById('map'), map_parameters);
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC6UX3SH6pVjeTFOOdcs11A3XntQvJZa1k"></script>
</body>
</html>

