body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f8f8;
}

.login-container {
    background-color: white;
    padding: 30px;
    width: 300px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.login-title {
    font-size: 30px;
    text-align: center;
    margin-bottom: 40px;
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.login-btn {
    background-color: black;
    color: white;
    padding: 15px;
    border: none;
    width: 100%;
    border-radius: 4px;
    cursor: pointer;
}

.login-btn:hover {
    background-color: #333;
}

.forgot-password {
    text-align: right;
    margin: 10px 0;
}

.home-container {
    background-color: #f5f5f5;
    padding: 20px;
    width: 60%;
    margin: auto;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.home-title {
    font-size: 24px;
    margin-bottom: 20px;
}

.home-description {
    margin-bottom: 20px;
}

.button {
    display: inline-block;
    background-color: #333;
    color: white;
    padding: 10px 20px;
    margin: 10px 0;
    text-decoration: none;
    border-radius: 5px;
}

.button:hover {
    background-color: #555;
}

.signup-container {
    background-color: #ffffff;
    padding: 30px;
    width: 400px;
    margin: auto;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.signup-title {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

.signup-form {
    margin-top: 20px;
}

.signup-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.signup-form input[type="text"],
.signup-form input[type="password"],
.signup-form input[type="email"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}
