<!DOCTYPE html>
    <html xmlns:th="http://www.thymeleaf.org">
    <head>

        <title>Traffic Incident Submission </title>

        <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <script src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyB41DRUbKWJHPxaFjMAwdrzWzbVKartNGg&callback=initMap" async defer></script>
        <script th:src="@{/js/traffic-report-send.js}"></script>
        <link rel="stylesheet" type="text/css" href="/css/traffic-report-send.css">

    </head>
    <body>

    <div class="alert-overlay alert alert-danger alert-dismissible fade hide d-none" role="alert" id="submit-form-alert">
            <h4 class="alert-heading">Hey!</h4>
            <p id="alert-info">Please fill out the following fields below.</p>
            <button id="close-error" type="button" class="close" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div class="alert-overlay alert alert-success alert-dismissible fade hide d-none" role="alert" id="submit-form-sucess">
            <h4 class="alert-heading">Well Done!</h4>
            <p id="alert-sucess-info">Your ticket has sucessfully been submitted. <br> And is now waiting for review </p>
            <hr>
            <h5>Your Ticket Receipt</h5>
            <p id="location-input"></p>
            <p id="description-input"></p>
            <p id="severity-input"></p>
            <hr>
            * The review process ensures all traffic incident data is accurate.
            <button id="close-success" type="button" class="close" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <header>
            <h1>Traffic Submission Form</h1>
        </header>

        <main>
            <form action="#" id="main-form" th:action="@{/createReport}" th:object="${trafficIncident}" method="GET" target="formSubmitFrame">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Search Location</span>
                    </div>
                    <input type="text" class="form-control" aria-label="default" aria-describedby="default" id="location-search-bar">
                </div>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <div class="input-group-text">
                <input type="checkbox" aria-label="" id="current-location-check">
            </div>
        </div>
        <input type="text" id="current-location-label" class="form-control" aria-label="" value="Use Current Location" style="background-color: white" readonly>
    </div>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01">Severity Level</label>
        </div>
        <select class="custom-select" id="inputGroupSelect01" th:field="*{severity}">
            <option value="fatal">Fatal</option>
            <option value="serious">Serious</option>
            <option value="light">Light</option>
        </select>
    </div>

    <input id="longitude" style="display: none; visibility: hidden" name="description" th:field="*{longitude}"/>
    <input id="latitude" style="display: none; visibility: hidden " name="description" th:field="*{latitude}"/>

    <button type="submit" class="btn btn-secondary" value="0">Submit Report</button>
</form>


<script src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyB41DRUbKWJHPxaFjMAwdrzWzbVKartNGg&callback=initMap" async defer></script>


<script>

    // Prevents form from accidentally submitting when using search feature
    document.getElementById("locationSearch").onkeypress = function(event) {
        if (event.charCode == 13) {
            event.preventDefault();
        }
    }
    function initMap() {
        const cincinnatiLatLng = {
            lat: 39.103119,
            lng: -84.512016
        }

        var map = new google.maps.Map(document.getElementById('map'), {
            center: cincinnatiLatLng,
            zoom: 13,
        });

        var searchResult = document.getElementById('locationSearch');
        var autocomplete = new google.maps.places.Autocomplete(searchResult);
        document.getElementById('locationSearch').value = 'Cincinnati, OH, USA'

        var mapStyles = [
            {
                featureType: "all",
                elementType: "labels",
                stylers: [
                    { visibility: "off" }
                ]
            },
            {
                featureType: "road",
                elementType: "labels",
                stylers: [
                    { visibility: "on" }
                ]
            },
        ]

        map.set('styles',mapStyles);

        var infoWindow = new google.maps.InfoWindow();

        var marker = new google.maps.Marker({
            map: map
        });

        var geocoder = new google.maps.Geocoder();

        // Check any problems with inital location
        navigator.permissions.query({ name: "geolocation" }).then((result) => {
            // initial page load
            switch (result.state){
                case 'prompt':
                case 'denied':
                    document.getElementById("current-location-label").value = "Please enable Geolocation services [Current Location Option Disabled For Now]"
                    document.getElementById("current-location-check").disabled= true;
            }
            result.addEventListener("change", () => {
                switch (result.state){
                    case 'prompt':
                    case 'denied':
                        document.getElementById("current-location-label").value = "Please enable Geolocation services [Current Location Option Disabled For Now]"
                        document.getElementById("current-location-check").disabled= true;
                        break;
                    case "granted":
                        document.getElementById("current-location-check").disabled= false;
                        document.getElementById("current-location-label").value = 'Use default location'
                }
            });
        });


    // check if user within cincinnati
    navigator.geolocation.getCurrentPosition((position) => {
            let currentLocation = {
                lat: position.coords.latitude,
                lng: position.coords.longitude
            }
            geocoder.geocode({location: currentLocation}).then((response) => {
                if(response.results[0]){
                    if (!response.results[0].formatted_address.includes('Cincinnati')){
                        document.getElementById("current-location-label").value = 'Location not within Cincinnati [Current Location Option Disabled For Now]'
                        document.getElementById("current-location-check").disabled= true;
                    }
                }
            })
        }), (error) => {
        switch(error.code) {
            case error.POSITION_UNAVAILABLE:
                document.getElementById("current-location-label").value = "Cannot find location information"
                break;
        }
    }

    document.getElementById("main-form").addEventListener('submit', (event) => {
        if (parseFloat(document.getElementById("latitude").value) == 0 &&
            parseFloat(document.getElementById("longitude").value) == 0){
            alert('Must set a location')
            event.preventDefault();
        }
    })

        document.getElementById("current-location-check").addEventListener('change', function() {
            if (this.checked) {
                navigator.geolocation.getCurrentPosition((position) => {
                    let currentLocation = {
                        lat: position.coords.latitude,
                        lng: position.coords.longitude
                    }

                    geocoder.geocode({location: currentLocation}).then((response) => {
                        if(response.results[0]){
                            document.getElementById("longitude").value = position.coords.longitude
                            document.getElementById("latitude").value = position.coords.latitude
                            document.getElementById('locationSearch').value = response.results[0].formatted_address
                            map.setCenter(currentLocation);
                            marker.setPosition(currentLocation);
                            infoWindow.setContent(response.results[0].formatted_address)
                            infoWindow.open(map, marker);
                        }
                    })
                })
            } else {
                document.getElementById("longitude").value = '0'
                document.getElementById("latitude").value = '0'
            }
        })

        map.addListener("click", (event) => {
            let latLngData = {
                lat: event.latLng.lat(),
                lng: event.latLng.lng()
            }
            marker.setPosition(event.latLng);

            geocoder.geocode({location: latLngData}).then((response) => {

                if(response.results[0]){
                    if (response.results[0].formatted_address.includes('Cincinnati')){
                        infoWindow.setContent(response.results[0].formatted_address)
                        infoWindow.open(map, marker);
                        document.getElementById('locationSearch').value = response.results[0].formatted_address
                    }else{
                        infoWindow.setContent(response.results[0].formatted_address)
                        infoWindow.setContent('<strong> Warning </strong>Report must be within Cincinnati<br>')
                        marker.setPosition(cincinnatiLatLng);
                        map.setCenter(cincinnatiLatLng);
                    }
                }
            })

            document.getElementById('latitude').value = event.latLng.lat()
            document.getElementById('longitude').value = event.latLng.lng()
        })

        var searchToolUseCount = 0;
        autocomplete.addListener('place_changed', function() {
            var place = autocomplete.getPlace();
            map.setCenter(place.geometry.location);
            map.setZoom(15);
            marker.setPosition(place.geometry.location);
            marker.setVisible(true);

            geocoder.geocode({location: place.geometry.location}).then((response) => {
                if(response.results[0]){
                    if (response.results[0].formatted_address.includes('Cincinnati')){
                        searchToolUseCount += 1;

                        if (!(searchToolUseCount > 1)){
                            infoWindow.setContent('<strong> Tip </strong>You can also click around map to be more accurate.<br>');
                            infoWindow.open(map, marker);
                            setTimeout(function(){infoWindow.close();}, '4000');
                        }else{
                            infoWindow.setContent(response.results[0].formatted_address)
                            document.getElementById('latitude').value = place.geometry.location.lat();
                            document.getElementById('longitude').value = place.geometry.location.lng();
                            document.getElementById('locationSearch').value = response.results[0].formatted_address
                            infoWindow.open(map, marker);
                        }
                    }else{
                        infoWindow.setContent('<strong> Warning </strong>Report must be within Cincinnati<br>')
                        setTimeout(function(){infoWindow.close();}, '3000');
                        document.getElementById('locationSearch').value = 'Cincinnati, OH, USA'
                        marker.setPosition(cincinnatiLatLng);
                        map.setCenter(cincinnatiLatLng);
                        infoWindow.open(map, marker);
                    }
                }
            })
        });
    }



</script>

</body>
</html>